// Define global fundamental styles

@use 'variables' as var; // <-- 关键修正：使用 @use 并定义命名空间 'var'

// reset fundamental
@import 'normalize.css'; 



html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;                     // Ensure html and body height is 100%
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif; // Ensure Inter font is imported
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var.$background-color-login-page;   //default background colour, can be used to login page
  min-height: 100vh;                // Ensure body occupies 100% viewport height
  transition: background-color 0.3s ease, color 0.3s ease;

}

#root {
  // Remove the default maxWidth and padding of Vite, mastered by Layout
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;                    // make #root to be flex container
  flex-direction: column;           // content line up vertically
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var.$text-color;
  &:visited {
    color: var.$text-color;
  }
  &:hover,
  &:focus {
    color: var.$primary-color;
  }
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: var.$font-base;
  font-weight: 500;
  font-family: inherit;
  background-color: var.$primary-color;
  color: white;
  transition: background-color 0.25s ease;
  &:hover {
    background-color:var.$accent-color;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto var.$primary-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}